#world body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

#world .axis path,
#world .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#europe body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

#europe .axis path,
#europe .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#africa body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

#africa .axis path,
#africa .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

