
        #sunburst {
            font-family: sans-serif;
        }

        #sunburst .slice {
            cursor: pointer;
        }

        #sunburst .slice .main-arc {
            stroke: #fff;
            stroke-width: 1px;
        }

        #sunburst .slice .hidden-arc {
            fill: none;
        }

        #sunburst .slice text {
            pointer-events: none;
            dominant-baseline: middle;
            text-anchor: middle;
        }